@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,700,800);

html, html a {
    -webkit-font-smoothing: antialiased;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
}

html, body, p, a, li, td, th, h1, h2, h3, h4, h5, h6, button{
    font-family: 'Open Sans', sans-serif;
}

.navbar-inverse{
    background-color: #103679;
}

.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus{
    background-color: #103679;
}

.navbar-brand img{
    width: 120px;
}

.navbar-inverse .navbar-nav>li>a {
    color: #ddd;
}

@media (min-width: 768px){
    .navbar {
        border-radius: 0;
    }

    .navbar-inverse .navbar-collapse{
        padding-top: 30px;
    }
}

@media (max-width: 767px){

}

.main-container{
    margin-top: 75px;
}

th, td{
    text-align: center;
}

@media (min-width: 946px) {
    .navbar{
        min-height: 80px;
    }
    .main-navbar .dropdown-menu{
        top: 64px;
    }
}

/*Breakpoint of menu*/

@media (max-width: 945px) {
    .navbar.navbar-inverse.navbar-fixed-top{
        position: absolute;
    }
    .navbar-header {
        float: none;
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin-top: 7.5px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in{
        display:block !important;
        /*background: #fff;*/
    }
    .a-active{
        border: none;
        background: #5b6168;
    }
    .nav.navbar-nav li:hover{
        background: #666;
    }

    /*CUSTOM FOR APP*/

    .navbar-brand{
        padding: 4px;
    }

    .navbar-brand img{
        width: 43px;
    }
}
